// Common values

// Function
@function color ($value: w0) {
  @return map-get($color-value, #{ $value });
}

@function gap-xl ($value: md) {
  @return map-get($gap-xl-value, #{ $value });
}

@function gap-lg ($value: md) {
  @return map-get($gap-lg-value, #{ $value });
}

@function gap-md ($value: md) {
  @return map-get($gap-md-value, #{ $value });
}

@function gap-sm ($value: md) {
  @return map-get($gap-sm-value, #{ $value });
}

@function size ($value: md) {
  @return map-get($size-value, #{ $value });
}

// color
$color-value: (
  'white': #fff,
  'w100': #f4f4f4,
  'w90': #efefef,
  'w80': #d2d2d2,
  'w70': #bbbbbb,
  'w60': #9d9d9d,
  'w50': #888888,
  'w40': #6f6f6f,
  'w30': #4f4f4f,
  'w20': #373737,
  'w10': #212121,
  'w0': #080808,
  'black': '#000',
  'primary': #3798f8,
  'accent': #1356ff,
  'success': #40df8a,
  'warning': #e6ae69,
  'info': #61e3c5,
  'danger': #ee3333,
);

// margin, padding
$gap-xl-value: (
  'xl': 3em,
  'lg': 2.75em,
  'md': 2.5em,
  'sm': 2.25em,
  'xs': 2em,
);
$gap-lg-value: (
  'xl': 1.875em,
  'lg': 1.75em,
  'md': 1.625em,
  'sm': 1.5em,
  'xs': 1.325em,
);
$gap-md-value: (
  'xl': 1.25em,
  'lg': 1.125em,
  'md': 1em,
  'sm': 0.875em,
  'xs': 0.75em,
);
$gap-sm-value: (
  'xl': 0.625em,
  'lg': 0.5em,
  'md': 0.375em,
  'sm': 0.25em,
  'xs': 0.125em,
);

// response size
$size-value: (
  'xl': 1400px,
  'lg': 1200px,
  'md': 992px,
  'sm': 768px,
  'xs': 576px,
);


// Theme
$theme-map: default;
$themes: (
  default: (
    root-bg: linear-gradient(color(white), color(w90)),
    page-bg: color(w90),
    text: color(w10),
    text2: color(w30),
    link: color(accent),
    hover: color(primary),
    border: color(w80),
  ),
  dark: (
    root-bg: linear-gradient(color(w30), color(w20)),
    page-bg: color(w30),
    text: color(w80),
    text2: color(w60),
    link: color(accent),
    hover: color(primary),
    border: color(w50),
  ),
);
