// Common values

// Function
@function color ($value: w0) {
  @return map-get($color-value, #{ $value });
}

@function gap ($value: md) {
  @return map-get($gap-value, #{ $value });
}

@function size ($value: md) {
  @return map-get($size-value, #{ $value });
}

@function radius ($value: md) {
  @return map-get($radius-value, #{ $value });
}

// color
$color-value: (
  'white': #fff,
  'w100': #f4f4f4,
  'w90': #efefef,
  'w80': #d2d2d2,
  'w70': #bbbbbb,
  'w60': #9d9d9d,
  'w50': #888888,
  'w40': #6f6f6f,
  'w30': #4f4f4f,
  'w20': #373737,
  'w10': #212121,
  'w0': #080808,
  'black': '#000',
  'primary': #3798f8,
  'accent': #1356ff,
  'success': #40df8a,
  'warning': #e6ae69,
  'info': #61e3c5,
  'danger': #ee3333,
);

// margin, padding
$gap-value: (
  'xl': 2em,
  'lg': 1.5em,
  'md': 1em,
  'sm': 0.875em,
  'xs': 0.75em,
);

// response size
$size-value: (
  'xl': 1400px,
  'lg': 1200px,
  'md': 992px,
  'sm': 768px,
  'xs': 576px,
);

// radius size
$radius-value: (
  'xl': 10px,
  'lg': 8px,
  'md': 6px,
  'sm': 4px,
  'xs': 2px,
);

// Theme
$themes: (
  default: (
    root-bg: linear-gradient(color(white), color(w90)),
    page-bg: color(w90),
    text: color(w10),
    text2: color(w20),
    link: color(accent),
    hover: color(primary),
    border: color(w80),
  ),
  dark: (
    root-bg: linear-gradient(color(w30), color(w20)),
    page-bg: color(w30),
    text: color(w90),
    text2: color(w80),
    link: color(accent),
    hover: color(primary),
    border: color(w50),
  ),
);
