// Common values

// Function
@function color ($value: w0) {
  @return map-get($color-value, #{ $value });
}

@function txt-color ($value: primary) {
  @return map-get($txt-value, #{ $value });
}

@function size ($value: md) {
  @return map-get($size-value, #{ $value });
}

// color
$color-value: (
  'white': #fff,
  'w100': #f4f4f4,
  'w90': #efefef,
  'w80': #d2d2d2,
  'w70': #bbbbbb,
  'w60': #9d9d9d,
  'w50': #888888,
  'w40': #6f6f6f,
  'w30': #4f4f4f,
  'w20': #373737,
  'w10': #212121,
  'w0': #080808,
  'black': '#000',
  'primary': #34568B,
  'secondary': #BFBFBF,
  'accent': #92A8D1,
  'success': #5f7c34,
  'warning': #EFC050,
  'info': #6B5B95,
  'danger': #c34e42,
);

$txt-value: (
  'primary': color(w100),
  'secondary': color(w0),
  'accent': color(w0),
  'success': color(w100),
  'warning': color(w0),
  'info': color(w100),
  'danger': color(w100),
);

$colors : (primary, secondary, accent, success, warning, info, danger);

// response size
$size-value: (
  'xl': 1400px,
  'lg': 1200px,
  'md': 992px,
  'sm': 768px,
  'xs': 576px,
);


// Theme
$theme-map: default;
$themes: (
  default: (
    root-bg: linear-gradient(color(white), color(white)),
    page-bg: color(w100),
    text: color(w10),
    text2: color(w30),
    link: color(primary),
    hover: color(accent),
    border: color(w80),
  ),
  dark: (
    root-bg: linear-gradient(color(w30), color(w20)),
    page-bg: color(w30),
    text: color(w70),
    text2: color(w50),
    link: color(accent),
    hover: color(info),
    border: color(w40),
  ),
);
